.headerDiv {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100px;
  align-items: center;
  width: 100%;
  background-color: rgb(7, 7, 7);
}
.headerDiv > button {
  background-color: rgb(42, 42, 43);
  padding: 10px;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-left: auto;
  margin-right: 40px;
}
.headerDiv > button:hover {
  color: rgb(42, 42, 43);

  background-color: white;
}

.footerDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background-color: antiquewhite;
  padding: 10px;
}

@media screen and (max-width: 700px) {
  .headerDiv {
    flex-direction: column;
  }
  .footerDiv {
    flex-direction: column;
  }
}
