.showSelectedItem__mainDiv {
  background-color: transparent;
  position: fixed;
  padding: 0px;
}

.showSelectedItem__bodyDiv {
  border: 1px solid rgb(131, 130, 130);
  border-radius: 5px;
  overflow-y: scroll;

  width: 900px;
  height: 600px;

  background-color: rgb(29, 28, 28);

  padding: 10px;
}
.showSelectedItem__headerDiv {
  display: flex;
  justify-content: flex-end;
}
.showSelectedItem__deleteItem {
  width: fit-content;
  cursor: pointer;
  margin-right: auto;
  padding: 5px;
  margin-bottom: 50px;
  line-height: 34px;
}
.showSelectedItem__deleteItem:hover {
  background-color: white;
  color: rgb(29, 28, 28);

  border-radius: 5px;
}
.showSelectedItem__h1Tag {
  width: min-content;
  cursor: pointer;
  margin-left: auto;
  padding: 5px;
  margin-bottom: 50px;
}
.showSelectedItem__h1Tag:hover {
  border-radius: 50%;
  color: rgb(29, 28, 28);
  background-color: white;
}
.showSelectedItemSectionDiv {
  font-size: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
}
.showSelectedItemSingleItem {
  min-height: 28px;
  margin-top: 4px;
  margin-bottom: 4px;
  width: 100%;
}
.showSelectedItemSingleItem > label {
  width: 160px !important;
  overflow: hidden;
  text-align: right;
  margin-right: 5px;
}
.showSelectedItemSingleItem > input {
  width: 100%;
  padding: 5px 0px;
}

.showSelectedItemPictureDiv {
  overflow-x: scroll;
  height: 190px;
  width: 100%;
  text-align: left;
}
.showSelectedItemPictureDiv > h5 {
  margin: 5px;
  padding: 2px;
  border: 1px solid white;
  border-radius: 5px;
}

.showSelectedItemCancelSave {
  height: 28px;
  margin-right: 5px;
  width: 100%;

  padding: 10px;
}

.cancelBtn {
  font-size: 17px;
  cursor: pointer;
  background-color: red;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
}
.submitBtn {
  font-size: 17px;
  cursor: pointer;
  background-color: rgb(44, 149, 247);
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
}

.uploadBtn {
  height: 24px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  padding: 2px 5px;
  margin: 2px 0px;
  margin-left: auto;
  cursor: pointer;
}
.uploadBtn:hover {
  background-color: white;
  color: black;
}
