/* dashboard */
.dashBoard__mainDiv {
  text-align: center;
  background-color: rgb(29, 28, 28);
}

.h2__header {
  font-weight: normal;
}
.dashboard__bodyDiv {
  margin-top: 150px;
}
.dashboard__table {
  text-align: center;
  height: 50vh;
  width: 100vw;
  max-height: 400px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.dashboard__table > div {
  width: fit-content;
  border: 1px solid white;
  height: inherit;
  overflow-y: scroll;
  padding: 5px;
  background-color: rgb(29, 28, 28);
}
.dashboard__tr__select {
  background-color: rgb(29, 28, 28);
  cursor: pointer;
  padding: 5px;
}
.dashboard__tr__select:hover {
  background-color: white;
  color: rgb(29, 28, 28);
}
.dashboard__table > div > table > tbody > tr > td {
  margin-top: 10px;
  width: fit-content;
  font-size: 15px;
}

.dashBoard__selectedItemDiv {
  text-align: center;
  display: flex;
  justify-content: center;
}
.dashboard__addNewSeizedItem {
  text-align: center;
  margin: 20px 0px;
  width: 100%;
  max-width: 400px;
  background-color: rgb(229, 250, 215);
  font-size: 18px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

/*ShowSelectedItem*/

.createNewUser__bodyDiv {
  border: 1px solid rgb(131, 130, 130);
  border-radius: 5px;

  width: fit-content;
  max-width: 500px;
  height: fit-content;

  background-color: rgb(29, 28, 28);

  padding: 10px;
}
.CreateNewUserSingleItem {
  height: 28px;
  margin-top: 4px;
  margin-bottom: 4px;
  width: 100%;
  justify-content: center;
  display: flex;
}

.CreateNewUserSingleItem > label {
  width: 100px !important;
  overflow: hidden;
  text-align: right;
  margin-right: 5px;
}
.AddItemPictureSection {
  margin: 5px;
  padding: 2px;
  border: 1px solid white;
  border-radius: 5px;
}

/* showPassword */
.showPassword__mainDiv {
  height: fit-content;
  display: flex;
  position: fixed;

  flex-direction: column;
  z-index: 55;
  padding: 10px;
  padding-bottom: 20px;
  border: 1px solid white;
  background-color: rgb(29, 28, 28);
  color: white;
  border-radius: 5px;

  width: 100%;
  max-width: 500px;
  font-size: 17px;
}
.showPassword__mainDiv > * {
  margin: 5px;
}

.showPasswordHeaderDiv {
  text-align: right;
}

.showPassword__h1Tag {
  background-color: transparent;
  width: min-content;
  cursor: pointer;
  margin-left: auto;
  padding: 5px;

  color: white;
  border: none;
  font-size: 15px;
}
.showPassword__h1Tag:hover {
  border-radius: 50%;
  color: rgb(29, 28, 28);
  background-color: white;
}

.showPassword__input {
  padding: 5px 0px;
}
.showPassword__submitBtn {
  font-size: 17px;
}

.createNewUserSaveBtn {
  width: 100%;
  padding: 2.5px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 2px;
  font-size: 16px;
  margin-top: 5px;
  cursor: pointer;
}

.createNewUserSaveBtn:hover {
  background-color: white;
  color: rgb(29, 28, 28);
}

.printBtn {
  padding: 5px 10px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  margin: 0px 5px;
  border-radius: 5px;
  cursor: pointer;
  height: min-content;
  margin-top: auto;
  margin-bottom: auto;
}
