/* dashboard */
.dashBoard__mainDiv {
  margin-top: 150px;
  text-align: center;
  background-color: rgb(29, 28, 28);
}

.h2__header {
  font-weight: normal;
}
.dashboard__table {
  text-align: center;
  height: 400px;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.dashboard__table > div {
  width: fit-content;
  border: 1px solid white;
  height: inherit;
  overflow-y: scroll;
  padding: 5px;
  background-color: rgb(29, 28, 28);
}
.dashboard__tr__select {
  background-color: rgb(29, 28, 28);
  cursor: pointer;
  padding: 5px;
}
.dashboard__tr__select:hover {
  background-color: white;
  color: rgb(29, 28, 28);
}
.dashboard__table > div > table > tbody > tr > td {
  margin-top: 10px;
}

.dashBoard__selectedItemDiv {
  text-align: center;
  display: flex;
  justify-content: center;
}
.dashboard__addNewSeizedItem {
  margin: 20px;
  background-color: rgb(229, 250, 215);
  font-size: 18px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

/*ShowSelectedItem*/

.showSelectedItem__mainDiv {
  width: 100%;
  max-width: 200px;

  background-color: transparent;
  position: fixed;
}
.showSelectedItem__bodyDiv {
  overflow-y: scroll;
  width: 500px;
  height: 70vh;

  background-color: rgb(29, 28, 28);

  padding: 10px;
}
.showSelectedItem__headerDiv {
  display: flex;
  justify-content: flex-end;
}
.showSelectedItem__deleteItem {
  width: fit-content;
  cursor: pointer;
  margin-right: auto;
  padding: 5px;
  margin-bottom: 50px;
  line-height: 34px;
}
.showSelectedItem__deleteItem:hover {
  background-color: white;
  color: rgb(29, 28, 28);

  border-radius: 5px;
}
.showSelectedItem__h1Tag {
  width: min-content;
  cursor: pointer;
  margin-left: auto;
  padding: 5px;
  margin-bottom: 50px;
}
.showSelectedItem__h1Tag:hover {
  border-radius: 50%;
  color: rgb(29, 28, 28);
  background-color: white;
}
.showSelectedItemSectionDiv {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}
.showSelectedItemSingleItem {
  height: 28px;
  margin-top: 4px;
  margin-bottom: 4px;
  width: 100%;
  justify-content: center;
  display: flex;
}
.showSelectedItemSingleItem > label {
  width: 160px !important;
  overflow: hidden;
  text-align: right;
  margin-right: 5px;
}
.showSelectedItemPictureDiv {
  overflow-x: scroll;
  height: 190px;
  width: inherit;
  text-align: justify;
}
.showSelectedItemPictureDiv > h5 {
  margin: 5px;
  padding: 2px;
  border: 1px solid white;
  border-radius: 5px;
}
.showSelectedItemCancelSave {
  height: 28px;
  margin-right: 5px;
  width: 100%;
  text-align: right;
  padding: 10px;
}

.cancelBtn {
  font-size: 17px;
  cursor: pointer;
  background-color: red;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
}
.submitBtn {
  font-size: 17px;
  cursor: pointer;
  background-color: rgb(44, 149, 247);
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
}

/* Login */

.mainDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.loginForm {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  max-width: 400px;
}
.loginForm > label {
  margin-top: 10px;
}
.loginForm > input {
  height: 24px;
  font-size: 18px;
}
.loginForm > button {
  margin-top: 15px;
  padding: 10px;
}

/* showPassword */
.showPassword__mainDiv {
  height: fit-content;
  display: flex;
  position: fixed;
  flex-direction: column;

  padding: 10px;
  padding-bottom: 20px;
  border: 1px solid white;
  background-color: rgb(29, 28, 28);
  color: white;
  border-radius: 5px;

  width: 100%;
  max-width: 500px;
  font-size: 17px;
}
.showPassword__mainDiv > * {
  margin: 5px;
}

.showPasswordHeaderDiv {
  text-align: right;
}

.showPassword__h1Tag {
  background-color: transparent;
  width: min-content;
  cursor: pointer;
  margin-left: auto;
  padding: 5px;

  color: white;
  border: none;
  font-size: 15px;
}
.showPassword__h1Tag:hover {
  border-radius: 50%;
  color: rgb(29, 28, 28);
  background-color: white;
}

.showPassword__submitBtn {
  font-size: 17px;
}
